$color: #324047;
nav{
  width: 100%;
  display: flex !important;
  color: #ddd;
  align-items: center;
  background:rgba(19,26,47, 0.9);
  height: 68px !important;
  border-radius: 20px;

  .navbar-brand{
    font-size: 32px;
    color: $color;
    a{
      color: white;
      text-decoration: none;
    }
  }

  a{
    flex: 1;
    text-shadow: 1px 1px 15px 1px black;
    font-weight: 400;
    color: #ddd;
    
  }
  .nav-item{
    .nav-link{
      a{
        text-decoration: none;
      }
    }
  }
}


