.backHome {
  font-size: 18px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  svg{
    font-size: 32px;
    margin-top: -3px;
    margin-right: 10px;
  }
  position: absolute;
  top: 20px;
}

.modalLogin{
  width: 80%;
  max-width: 80% !important;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content{
    background:#324047;
    flex: 1;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .form-login{
    width: 480px !important;
    background: rgba($color: #000000, $alpha: 0.9);
    box-shadow: 1px 1px 20px 1px black;
    padding: 40px 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    .form-group{
      text-shadow: 1px 1px 5px black !important;
      display: flex;
      margin: auto;
      width: 90%;
      margin-bottom: 30px;
      label {
        font-size: 30px;
        color: #ffffff;
        svg{
          margin-top: -12px;
          margin-right: 10px;
        }
      }
      input{
        background: none;
        border: none;
        border-color: none !important;
        outline: none !important;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
        border-radius: 0px;
        color: #fff;
        padding: 10px 0 !important;
        font-size: 18px;
      }
      ::placeholder{
        color: #ddd;
      }
    }
    .checkBox{
      position: absolute;
      bottom: 8%;
      left: 8%;
      color: #ddd;
    }
    .buttonLogin{
      border: none;
      outline: none;
      border-radius: 10px;
      box-shadow: none;
      width: 100px;
      position: absolute;
      bottom: 8%;
      right: 4%;
      background: linear-gradient(to top right, #74b9ff, #0984e3);
    }
  }
  .forgotpassword{
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}