.formSchedules{
  padding: 0px 20px;
  .button-dropdown{
    border-bottom: 1px solid #333;
  }

}

.CreateSchedules{
  .btn-group{
    margin-right: 10%;
    margin-bottom: 40px;
    margin-top: 20px;
    button:first-child{
      background: linear-gradient(to top right, #74b9ff, #0984e3);
      padding: 10px;
      margin-bottom: 3px;
    }
  }
}