
.CreateSchedules{
  .btn-group{
    margin-right: 10%;
    margin-bottom: 40px;
    margin-top: 20px;
    button:first-child{
      background: linear-gradient(to top right, #74b9ff, #0984e3);
      padding: 10px;
      margin-bottom: 3px;
    }
  }
}
.timeContainer{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  #departure{
    flex: 1;
    input{
      width: 99%;
    }
  }
  #arrive{
    flex: 1;
    input{
      width: 100%;
    }
  }
}
.departureTime{
  display: flex;
  flex-direction: column;
  
  .react-datepicker-wrapper{
    .react-datepicker__input-container{
      .DatePicker{
        background-color: '#bbb';
        font-size: 16px;
        width: 100%;
        padding: 8px 10px;
        border-radius: 5px;
        border: none;
        outline: none;
      }
    }
  }
}

.shortSchedule{
  background: none !important;
  margin-left: 20;
  Input{
    background: none;
    border: 1px solid #ddd;
    border-top: none;
    border-right: none;
    margin-left: 20px;
    box-shadow: none;
    outline: none;
  }
  button:hover{
    background: none;
  }
}

#sortBy{
  option{
    background-color: rgba(19,26,47, 0.9);
  }
}