*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background: rgba(50, 56, 73, 0.876);
  height: 100vh;
  overflow-x: hidden;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}
